*{margin:0px;
padding:0px;
}
body{
background-image:url("images/bk.jpg");
background-size:100% 200%}
 #logo{
float:left;
}

.logodiv{
background-color:#7D1935;
height:100px;
}

.logodiv img{
float:left;
height:100px;
width:390px;
margin-left:150px;
margin-right:150px;

}

#buttons button{
width:130px;
height:40px;
margin-top:30px;
background-color:#4A96AD;
color:white;
font-weight:bold;
}

button:visited{
background-color:yellow;
color:gray;

}

button:hover{
cursor:pointer;
border: 2px solid #E6E6FA;
border-radius:8px;
font-weight:bold;
 box-shadow: 3px 3px 3px #E6E6FA;
}

h1{
text-align:center;
font-family:"Courier New",Arial;
margin-top:0px;

background-color:gray;
border-top:2px solid white;
border-bottom:2px solid white;

}



.up{
float:left;

}
.down{

float:left;
}

.break{
clear:both;
}
.box{
height:260px;
width:260px;
padding:10px;
border: 4px solid #000000;
margin-left:auto;
border-radius:10px;
}
#AB{
background-color:#cc0000;


}
#AB:hover{
background-color:#00cd00;
cursor: pointer;
border: 4px solid #ffffff;}
#Ken:hover{
background-color:#ffff32;
cursor: pointer;
border: 4px solid #ffffff;}
#Dnvasa:hover{
background-color:#000099;
cursor: pointer;
border: 4px solid #ffffff;}
#Samota:hover{
background-color:#cc0000;
cursor: pointer;
border: 4px solid #ffffff;}

#Ken{
background-color:#000099;
margin-left:23.5em;
}

#Samota{
background-color:#00cd00;
margin-left:23.5em;
}

#Dnvasa{
background-color:#ffff32;
}
#AB2,#Dnvasa2,#Samota2,#Ken2{
display:none;

}
img{
width:50%;
height:50%;
margin:auto;}
p{
font-family:Papyrus, Arial;
font-weight:bold;
color:black;
margin:auto;
font-size:120%}
#back{
color:white;
}

a:visited{
color:white;
}
