H1{
font-family:georgian;
font-weight:bold;
}

body{
background-image:url("images/gate.jpg");
background-size:100%;

}

li{
font-size:110%;
font-family:georgian;
color:black;
}

a:hover{
font-size:125%;
}

a:visited{
color:red;
}
