 #logo{
float:left;
}

.logodiv{
background-color:#7D1935;
height:100px;
}

.logodiv img{
float:left;
height:100px;
width:390px;
margin-left:150px;
margin-right:150px;

}

#buttons button{
width:130px;
height:40px;
margin-top:30px;
background-color:#4A96AD;
color:white;
font-weight:bold;
}

button:visited{
background-color:yellow;
color:gray;

}

button:hover{
cursor:pointer;
border: 2px solid #E6E6FA;
border-radius:8px;
font-weight:bold;
 box-shadow: 3px 3px 3px #E6E6FA;
}

*{text-align:center;
margin:auto;}
H1{
font-family:georgian;
font-weight:bold;
text-decoration:underline;
}

body{
background-COLOR:WHITE;
background-size:100%;

}
#subjects{
border:3px solid blue;
text-align:center;
width:50%;
margin:auto;
margin-top:20px;
border-radius:20px;
background-color:yellow;
font-weight:bold;}
#h2,h3{
color:red;}

li{
font-size:110%;
font-family:georgian;
color:black;
}
#backgate{
color:blue;}

a{
color:black;
margin:5px;
}
a:hover{
font-size:115%;
}

a:visited{
text-decoration:none;
color:black;
}

ul{
width:50%;
border:2px solid black;
border-radius:15px;
background-color:#C2DFFF;}
