*{
margin:0px;
padding:0px;
}

body{
background-color:#F5F3EE;

}




#header{
width:100%;
height:3em;
background-color:#E9E6Ff;
border-bottom:1px solid black;
box-shadow: 0px 10px 5px #2B2B2B;}

#header img{
width:6em;
height:3em;
margin-left:1em;
text-align:left;}

#logo{
float:left;
}

.logodiv{
background-color:#7D1935;
height:100px;
}

.logodiv img{
float:left;
height:100px;
margin-left:150px;
margin-right:250px;

}

#buttons button{
width:130px;
height:40px;
margin-top:30px;
background-color:#4A96AD;
color:white;
font-weight:bold;
}

button:visited{
background-color:yellow;
color:gray;

}

button:hover{
cursor:pointer;
border: 1px solid #E6E6FA;
border-radius:8px;
font-weight:bold;
}



#subheader{

background-color:#E6E6FA;}*/
a{
color:black;
text-decoration:none;
font-weight:bold;
}
a:hover{
color:black;
text-decoration:underline;}





#pic{border-radius:100%;
width:85%;
margin-left:30px;
}

.main_body{
float:left;
}

.main{
display:inline-block;

}
img{display:inline;
margin:0px;}
#title{
width:45%;
}
#maintitle{
width:90%;
height:150px;
border-top:1px solid #2B2B2B;

margin-left:29px 
}

#tagline{
width:100%;
height:35px;
text-align:center;
font-size:150%;
padding-top:15px;
background-color:yellow;
}

#outerlist{
border-color:#ff1d8e ;
color:black;
width:300px;
border-radius:5px;

margin-right:20px;
margin-top:10px;
font-size:130%;
text-align:center;
border-bottom:1px solid black;
border-right:1px solid black;
box-shadow: 3px 4px 2.5px #0c0c0c;

}
#table{

border:1px solid black}
li{
list-style-type:none;
font-size:110%;
margin:3px;
padding:3px;

}
#type1 li{font-size:105%}
a{
color:#0c0c0c;
text-decoration:none;}
a:hover{

color:black;	
font-weight:bold;
text-decoration:underline;

}
ul li{
font-family:Cambria;
}
ul ul{
display:none;}
ul li:hover > ul{
text-align:center;
margin:auto;
display:block;
border:1px solid black;
width:250px;
border-radius:25px;}

#content {

word-spacing:2px;


padding:10px 20px 10px 10px;
margin-left;10px;
margin-top:10px;
font-family:"Times New Roman";
font-weight:italic;
font-size:160%;
color:#1f1f1f;


}
.cbody{
margin:0;
padding:0;
float:left;
margin-bottom:50px;

}
#main_body{
float:left;
margin-top:10px;
}

.break{
clear:both;
}

.leftside{
float:left;
margin-top:20px;
border-color:#ff1d8e ;

}


#body_frame{
display:none;
margin-top:20px;
}



