body{
background-color:black;
}

.categories{
width:125px;
height:80px;
border-bottom:4px solid white;
border-top:4px solid white;
border-right:4px solid white;
border-left:4px solid white;
background-color:red;
float:left;
text-align:center;
font-weight:bold;
font-size:125%;
margin-right:5px;
margin-left:5px;
font-family:Papyrus;
padding-top:45px;
}

.categories:hover{
background-color:yellow;
color:red;
}

#hidden {

list-style:none;
text-align:center;
font-family:Papyrus;
display:none;
}
