body{
background-color:#625D5D;
}
#logo{
float:left;
}

.logodiv{
background-color:#7D1935;
height:100px;
}

.logodiv img{
float:left;
height:100px;
width:390px;
margin-left:150px;
margin-right:150px;

}

#buttons button{
width:130px;
height:40px;
margin-top:30px;
background-color:#4A96AD;
color:white;
font-weight:bold;
}

button:visited{
background-color:yellow;
color:gray;

}

button:hover{
cursor:pointer;
border: 2px solid #E6E6FA;
border-radius:8px;
font-weight:bold;
 box-shadow: 3px 3px 3px #E6E6FA;
}



.content{
width:345px;
height:325px;
background-size:345px 325px;
border-radius:10px;
float:left;
text-align:center;
font-weight:bold;
font-family:Georgin;
margin:30px 30px 30px 50px;
border:1px solid white;}
#GATE,#GRE,#MHT-CET{margin-top:50px;}
.content:hover{
border-radius:100%;
color:red;
font-size:80px;
line-height:190px;}



.topic{
}

a{

text-decoration:none;
font-size:150%;
color:yellow;
margin-top:160px;}
a:hover{text-shadow:4px 4px black;
}

b{
color:yellow;
font-size:150%;
}


#GRE{
background-image:url("images/gre.jpg");
}
#GMAT{background-image:url("images/gmat.jpg");
}
#CAT{background-image:url("images/cat.jpg");
}
#GATE{background-image:url("images/gate.jpg");
}
#AIPMT{background-image:url("images/aimpt.jpg");
}
#MHT-CET{background-image:url("images/mht-cet.jpg");
}
#CEED{background-image:url("images/ceed.jpg");
}
#AIEED{background-image:url("images/aieed.jpg");
}
#NEET{background-image:url("images/neet.jpg");
}

